h1{

    text-align: center;
    background-color: aqua;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: blueviolet;
}
.birthdate{

    text-align: center;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: x-large;
    margin-top: 3rem;
    margin-bottom: 4rem;
}
.output-btn{

    text-align: center;
    
}
#errorField{

    font-size: small;
    color: red;
}
#birthdate{

    text-align: center;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: x-large;
    margin-top: 3rem;
    margin-bottom: 4rem;
}
#result{

    font-size: larger;
    color: crimson;
}

